@import 'vendors/reset.scss';
@import 'config/medias.scss';
@import 'blocs/newParty.scss';
@import 'blocs/party.scss';

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}